<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="Your Name"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pygments.css">
</head>
<body>

<div id="sidebar">
    <a href="/">
        <div id="profile-img"></div>
    </a>

    <div class="about">
        <div id="blurb">
            I am James Tyrrell. This is the place where I file away things I have done and
            knew.
        </div>
        <div id="previously">
            <h1>Previously</h1>
            Spring Roo and Elastic Runtime
        </div>
        <div id="currently">
            <h1>Currently</h1>
            Coding for spare change
        </div>
        <div id="next">
            <h1>Next</h1>
            Space?
        </div>
    </div>
</div>
<div id="content">
    {{ content }}
</div>
</body>
</html>
